<form action="#" class="calc-form">
    <h2 class="calc-form__title">Калькулятор пиломатериалов</h2>
    <div class="calc-form__body">
        <div class="calc-form__block">
            <label for="drevesina@@hash">Древесина</label>
            <div class="select">
                <select data-entity="material" id="drevesina@@hash" name="drevesina">
                    <option value="sosna">Сосна, ель</option>
                </select>
            </div>
        </div>
        <div class="calc-form__block">
            <label for="prodtype@@hash"><span>Тип</span></label>
            <div class="select">
                <select data-entity="section" id="prodtype@@hash" name="prodtype">
                    <option data-material="sosna" value="7" selected="selected">Имитация бруса</option>
                    <option data-material="sosna" value="5">Брус строганный сухой</option>
                    <option data-material="sosna" value="11">Фанера</option>
                    <option data-material="sosna" value="14">Половая доска</option>
                    <option data-material="sosna" value="9">Блок-хаус</option>
                    <option data-material="sosna" value="1">Доска обрезная</option>
                    <option data-material="sosna" value="117">Профилированный брус</option>
                    <option data-material="sosna" value="118">Клееный брус</option>
                    <option data-material="sosna" value="108">Доска для забора</option>
                    <option data-material="sosna" value="97">Доска строганная</option>
                    <option data-material="sosna" value="19">Брусок</option>
                    <option data-material="sosna" value="8">Евровагонка</option>
                </select>
            </div>
        </div>
        <div class="calc-form__row">
            <div class="calc-form__block">
                <label for="prodsize@@hash"><span>Размеры</span></label>
                <div class="select">
                    <select data-entity="item" id="prodsize@@hash" name="prodsize">
                        <option data-material="sosna" data-section=",7," data-price="650" value="2097" selected="selected">Имитация бруса 16x140x6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",5," data-price="22000" value="566" selected="selected">Брус сухой строганный 150х200х6000 (140х190х6000)</option>
                        <option data-material="sosna" data-section=",7," data-price="400" value="484">Евровагонка сорт “А” 12.5х0,96х2000</option>
                        <option data-material="sosna" data-section=",11," data-price="1350" value="425" selected="selected">Фанера ФСФ xвойная 1.22x2.44 3/3 сорт - 9мм</option>
                        <option data-material="sosna" data-section=",14," data-price="1200" value="232">Доска пола 35х125х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",5," data-price="22000" value="210">Брус сухой строганный 200х200х6000 (190х190х6000)</option>
                        <option data-material="sosna" data-section=",5," data-price="22000" value="208">Брус сухой строганный 150х150х6000 (140х140х6000)</option>
                        <option data-material="sosna" data-section=",5," data-price="22000" value="206">Брус сухой строганный 100х150х6000 (90х140х6000)</option>
                        <option data-material="sosna" data-section=",5," data-price="22000" value="205">Брус сухой строганный 100х100х6000 (90х90х6000)</option>
                        <option data-material="sosna" data-section=",9,7," data-price="900" value="110">Блок-хаус 20x96x6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="650" value="101">Имитация бруса 16х145х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",1," data-price="9000" value="58" selected="selected">Доска обрезная 25х150х6000 2 сорт</option>
                        <option data-material="sosna" data-section=",117," data-price="22500" value="1817">Профилированный брус 90х140х6000</option>
                        <option data-material="sosna" data-section=",5," data-price="25000" value="765">Брус сухой строганный антисепт. 150х200х6000 (140х190х6000)</option>
                        <option data-material="sosna" data-section=",118," data-price="59000" value="646">Клееный брус 100х200х12000</option>
                        <option data-material="sosna" data-section=",118," data-price="52000" value="645">Клееный брус 100х150х6000</option>
                        <option data-material="sosna" data-section=",117," data-price="22500" value="640">Профилированный брус 100х200х6000</option>
                        <option data-material="sosna" data-section=",108," data-price="290" value="1513">Доска строганная 20х140х3000</option>
                        <option data-material="sosna" data-section=",5," data-price="170" value="528">Брусок сухой строганный 50х50х3000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",11," data-price="1880" value="427">Фанера ФСФ xвойная 1.22x2.44 3/3 сорт - 15мм</option>
                        <option data-material="sosna" data-section=",11," data-price="1650" value="426">Фанера ФСФ xвойная 1.22x2.44 3/3 сорт - 12мм</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1250" value="113">Блок-хаус 35x195x6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1250" value="112">Блок-хаус 35x145x6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1100" value="111">Блок-хаус 28x145x6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="750" value="104">Имитация бруса 20х175х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="750" value="103">Имитация бруса 20х145х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="700" value="102">Имитация бруса 18х145х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",97," data-price="730" value="77">Доска сухая строганная 28х140х6000</option>
                        <option data-material="sosna" data-section=",1," data-price="9000" value="59">Доска обрезная 25х100х6000 2 сорт</option>
                        <option data-material="sosna" data-section=",1," data-price="18000" value="48">Доска обрезная 50x200x6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",5," data-price="22000" value="898">Брус сухой строганный 100х200х6000 (90х190х6000)</option>
                        <option data-material="sosna" data-section=",118," data-price="59000" value="648">Клееный брус 100х150х9000</option>
                        <option data-material="sosna" data-section=",97," data-price="750" value="78">Доска сухая строганная 20х190х6000</option>
                        <option data-material="sosna" data-section=",14," data-price="700" value="498">Половая доска 20х96х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",97," data-price="22000" value="79">Доска сухая строганная 40х100х6000 (35х90х6000)</option>
                        <option data-material="sosna" data-section=",118," data-price="59000" value="1816">Клееный брус 100х200х9000</option>
                        <option data-material="sosna" data-section=",118," data-price="59000" value="1815">Клееный брус 200х200х9000</option>
                        <option data-material="sosna" data-section=",118," data-price="59000" value="1814">Клееный брус 150х150х9000</option>
                        <option data-material="sosna" data-section=",118," data-price="52000" value="1813">Клееный брус 200х200х6000</option>
                        <option data-material="sosna" data-section=",118," data-price="52000" value="1812">Клееный брус 150х200х6000</option>
                        <option data-material="sosna" data-section=",118," data-price="52000" value="1811">Клееный брус 150х150х6000</option>
                        <option data-material="sosna" data-section=",118," data-price="52000" value="1810">Клееный брус 100х200х6000</option>
                        <option data-material="sosna" data-section=",118," data-price="52000" value="1809">Клееный брус 100х100х6000</option>
                        <option data-material="sosna" data-section=",118," data-price="65000" value="1808">Клееный брус 300х300</option>
                        <option data-material="sosna" data-section=",118," data-price="65000" value="1807">Клееный брус 250х300х6000</option>
                        <option data-material="sosna" data-section=",118," data-price="62000" value="1806">Клееный брус 200х250х6000</option>
                        <option data-material="sosna" data-section=",118," data-price="59000" value="649">Клееный брус 150×200х9000</option>
                        <option data-material="sosna" data-section=",118," data-price="59000" value="647">Клееный брус 100×100х9000</option>
                        <option data-material="sosna" data-section=",108," data-price="650" value="1514">Доска строганная 27х97х6000</option>
                        <option data-material="sosna" data-section=",7," data-price="400" value="485">Евровагонка сорт “А” 12.5х0,96х2500</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1500" value="481">Блок хаус 35х240х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",11," data-price="3300" value="430">Фанера ФСФ xвойная 1.22x2.44 3/3 сорт - 24мм</option>
                        <option data-material="sosna" data-section=",11," data-price="2700" value="429">Фанера ФСФ xвойная 1.22x2.44 3/3 сорт - 21мм</option>
                        <option data-material="sosna" data-section=",11," data-price="2300" value="428">Фанера ФСФ xвойная 1.22x2.44 3/3 сорт - 18мм</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1550" value="114">Блок-хаус 45x195x6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="1050" value="106">Имитация бруса 28х195х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="750" value="105">Имитация бруса 20х195х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",97," data-price="22000" value="80">Доска сухая строганная 40х150х6000 (35х140х6000)</option>
                        <option data-material="sosna" data-section=",118," data-price="59000" value="644">Клееный брус 100х100х12000</option>
                        <option data-material="sosna" data-section=",14," data-price="1000" value="500">Половая доска 28х125х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="400" value="486">Евровагонка сорт “А” 12.5х0,96х2700</option>
                        <option data-material="sosna" data-section=",97," data-price="22000" value="81">Доска сухая строганная 40х200х6000 (35х190х6000)</option>
                        <option data-material="sosna" data-section=",7," data-price="400" value="487">Евровагонка сорт “А” 12.5х0,96х3000</option>
                        <option data-material="sosna" data-section=",117," data-price="23000" value="982">Профилированный брус 150х200х6000</option>
                        <option data-material="sosna" data-section=",14," data-price="850" value="516">Половая доска 28х125х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",108," data-price="350" value="1489">Доска строганная 20х95х6000</option>
                        <option data-material="sosna" data-section=",97," data-price="370" value="504">Доска сухая строганная 20х90х6000</option>
                        <option data-material="sosna" data-section=",7," data-price="400" value="488">Евровагонка сорт “А” 12.5х0,96х4000</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1800" value="482">Блок хаус 45h240h6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",14," data-price="1200" value="233">Доска пола 35х145х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",117," data-price="22500" value="983">Профилированный брус 150х150х6000</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1250" value="546">Блок-хаус 35x145x3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="850" value="538">Имитация бруса 22х175х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="850" value="537">Имитация бруса 22х145х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="1200" value="536">Имитация бруса 35х190х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="1000" value="535">Имитация бруса 28x145x6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",19," data-price="200" value="534">Брусок обрезной 50х70х3000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",19," data-price="130" value="532">Брусок обрезной 50х50х3000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",108," data-price="800" value="1491">Доска строганная 20х190х6000</option>
                        <option data-material="sosna" data-section=",108," data-price="600" value="1490">Доска строганная 20х145х6000</option>
                        <option data-material="sosna" data-section=",14," data-price="1000" value="501">Половая доска 28х145х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="400" value="489">Евровагонка сорт "А" 12.5х0,96х6000</option>
                        <option data-material="sosna" data-section=",97," data-price="22000" value="83">Доска сухая строганная 50х100х6000 (45х90х6000)</option>
                        <option data-material="sosna" data-section=",1," data-price="18000" value="49">Доска обрезная 40х150х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",117," data-price="4600" value="1821">Профилированный брус 190х140х6000</option>
                        <option data-material="sosna" data-section=",117," data-price="3200" value="1820">Профилированный брус 140х140х6000</option>
                        <option data-material="sosna" data-section=",117," data-price="2810" value="1818">Профилированный брус 90х190х6000</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1600" value="548">Блок-хаус 28x140x6000 сорт "Экстра"</option>
                        <option data-material="sosna" data-section=",7," data-price="850" value="539">Имитация бруса 22х195х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",19," data-price="270" value="511">Брусок сухой строганный 50х70х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",117," data-price="5750" value="985">Профилированный брус 190х190х6000</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1800" value="549">Блок-хаус 35x140x6000 сорт "Экстра"</option>
                        <option data-material="sosna" data-section=",7," data-price="1050" value="540">Имитация бруса 20х145х6000 сорт "'Экстра"</option>
                        <option data-material="sosna" data-section=",14," data-price="1400" value="518">Половая доска 45х125х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",97," data-price="22000" value="84">Доска сухая строганная 50х150х6000 (45х140х6000)</option>
                        <option data-material="sosna" data-section=",14," data-price="1000" value="567">Половая доска 28х145х3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",5,19," data-price="80" value="87">Брусок сухой строганный 20х40х3000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="18000" value="46">Доска обрезная 25х100х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",117," data-price="23000" value="987">Профилированный брус 200х200х6000</option>
                        <option data-material="sosna" data-section=",14," data-price="1200" value="569">Половая доска 35х145х3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",97," data-price="2300" value="562">Доска сухая строганная 50х250х6000 (45х240х6000)</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1800" value="551">Блок-хаус 45x190x6000 сорт "Экстра"</option>
                        <option data-material="sosna" data-section=",5,19," data-price="150" value="88">Брусок сухой строганный 40х40х3000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",19," data-price="200" value="595">Брусок сухой строганный 40х60х3000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",7," data-price="1050" value="543">Имитация бруса 20х190х6000 сорт "'Экстра"</option>
                        <option data-material="sosna" data-section=",97," data-price="22000" value="85">Доска сухая строганная 50х200х6000 (45х190х6000)</option>
                        <option data-material="sosna" data-section=",1," data-price="18000" value="50">Доска обрезная 50х100х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",5," data-price="25000" value="764">Брус сухой строганный антисепт. 150х150х6000 (140х140х6000)</option>
                        <option data-material="sosna" data-section=",5," data-price="25000" value="763">Брус сухой строганный антисепт. 100х200х6000 (90х190х6000)</option>
                        <option data-material="sosna" data-section=",5," data-price="25000" value="762">Брус сухой строганный антисепт. 100х150х6000 (90х140х6000)</option>
                        <option data-material="sosna" data-section=",5," data-price="25000" value="761">Брус сухой строганный антисепт. 100х100х6000 (90х90х6000)</option>
                        <option data-material="sosna" data-section=",14," data-price="1400" value="573">Половая доска 45х145х3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="1400" value="544">Имитация бруса 28х190х6000 сорт "'Экстра"</option>
                        <option data-material="sosna" data-section=",1," data-price="18000" value="51">Доска обрезная 50х150х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",9,7," data-price="900" value="868">Блок хаус 20х96х3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",14," data-price="1200" value="575">Половая доска 35х160х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",14," data-price="850" value="568">Половая доска 28х145х3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="1400" value="545">Имитация бруса 28х190х3000 сорт "'Экстра"</option>
                        <option data-material="sosna" data-section=",97," data-price="500" value="86">Доска сухая строганная 20х120х6000</option>
                        <option data-material="sosna" data-section=",1," data-price="18000" value="52">Доска обрезная 50х200х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",9,7," data-price="900" value="869">Блок хаус 20х96х5000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",5," data-price="25000" value="766">Брус сухой строганный антисепт. 200х200х6000 (190х190х6000)</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="722">Доска обрезная Сухая 25х100х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="18000" value="1036">Доска обрезная 25х150х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1100" value="870">Блок хаус 28х145х3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="723">Доска обрезная Сухая 25х150х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",14," data-price="1100" value="570">Половая доска 35х145х3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",8," data-price="250" value="490" selected="selected">Евровагонка сорт “С” 12.5х0,96х2000</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1100" value="871">Блок хаус 28х145х5000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="724">Доска обрезная Сухая 40х100х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",117," data-price="22500" value="639">Профилированный брус 100х150х6000</option>
                        <option data-material="sosna" data-section=",14," data-price="1900" value="581">Половая доска 45х145х6000 сорт "Экстра"</option>
                        <option data-material="sosna" data-section=",14," data-price="1100" value="572">Половая доска 35х125х3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",97,108," data-price="570" value="564">Доска сухая строганная 20х140х6000</option>
                        <option data-material="sosna" data-section=",8," data-price="400" value="494">Евровагонка сорт “B” 12.5х0,96х2000</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="725">Доска обрезная Сухая 40х150х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",14," data-price="1900" value="584">Половая доска 35х120х6000 сорт "Экстра"</option>
                        <option data-material="sosna" data-section=",14," data-price="1250" value="574">Половая доска 45х145х3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",8," data-price="250" value="493">Евровагонка сорт “С” 12.5х0,96х3000</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1250" value="873">Блок хаус 35х145х5000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="726">Доска обрезная Сухая 40х200х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",8," data-price="350" value="497">Евровагонка сорт “B” 12.5х0,96х3000</option>
                        <option data-material="sosna" data-section=",8," data-price="350" value="496">Евровагонка сорт “B”» 12.5х0,96х2700</option>
                        <option data-material="sosna" data-section=",8," data-price="350" value="495">Евровагонка сорт “B” 12.5х0,96х2500</option>
                        <option data-material="sosna" data-section=",8," data-price="250" value="492">Евровагонка сорт “С”» 12.5х0,96х2000</option>
                        <option data-material="sosna" data-section=",8," data-price="250" value="491">Евровагонка сорт “С” 12.5х0,96х2500</option>
                        <option data-material="sosna" data-section=",8," data-price="250" value="109">Евровагонка сорт “С” 12.5х0,96х6000</option>
                        <option data-material="sosna" data-section=",8," data-price="350" value="108">Евровагонка сорт “B” 12.5х0,96х6000</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="727">Доска обрезная Сухая 50х100х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",19,5," data-price="170" value="601">Брусок сухой строганный 45х45х3000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="728">Доска обрезная Сухая 50х150х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1250" value="876">Блок хаус 35х195х3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",97," data-price="29500" value="760">Доска сухая строганная антисепт. 50х250х6000 (45х240х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="25000" value="759">Доска сухая строганная антисепт. 50х200х6000 (45х190х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="25000" value="758">Доска сухая строганная антисепт. 50х150х6000 (45х140х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="25000" value="757">Доска сухая строганная антисепт. 50х100х6000 (45х90х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="25000" value="756">Доска сухая строганная антисепт. 40х200х6000 (35х190х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="25000" value="755">Доска сухая строганная антисепт. 40х150х6000 (35х140х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="25000" value="754">Доска сухая строганная антисепт. 40х100х6000 (35х90х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="25000" value="753">Доска сухая строганная антисепт. 25х150х6000 (20х140х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="25000" value="752">Доска сухая строганная антисепт. 25х100х6000 (20х90х6000)</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="729">Доска обрезная Сухая 50х200х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",14," data-price="1100" value="919">Половая доска&nbsp;35х145х5000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1250" value="877">Блок хаус 35х195х5000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",1," data-price="23000" value="730">Доска обрезная Сухая 50х250х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",7," data-price="1000" value="930">Имитация бруса 28x195x5000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1550" value="878">Блок хаус 45х145х3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="731">Доска обрезная антисепт. 25х100х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",14," data-price="1100" value="576">Половая доска 35х160х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1550" value="879">Блок хаус 45х145х5000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="732">Доска обрезная антисепт. 25х150х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",14," data-price="1500" value="578">Половая доска 28х145х6000 сорт "Экстра"</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1550" value="880">Блок хаус 45х145х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="733">Доска обрезная антисепт. 40х100х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",14," data-price="1700" value="580">Половая доска 35х145х6000 сорт "Экстра"</option>
                        <option data-material="sosna" data-section=",9,7," data-price="1550" value="881">Блок хаус 45х195х3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="734">Доска обрезная антисепт. 40х150х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",14," data-price="1900" value="582">Половая доска 45х145х6000 сорт "Экстра"</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="735">Доска обрезная антисепт. 40х200х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",14," data-price="1700" value="583">Половая доска 35х120х6000 сорт "Экстра"</option>
                        <option data-material="sosna" data-section=",14," data-price="1400" value="959">Половая доска 45х145х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",14," data-price="1100" value="920">Доска половая шпунтованная&nbsp;35х145х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="736">Доска обрезная антисепт. 50х100х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="737">Доска обрезная антисепт. 50х150х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="21000" value="738">Доска обрезная антисепт. 50х200х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="22000" value="739">Доска обрезная антисептированная 50х250х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",14," data-price="1250" value="923">Доска половая шпунтованная&nbsp;45х145х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",14," data-price="700" value="992">Половая доска 20х125х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="650" value="860">Имитация бруса 16x145x3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",14," data-price="700" value="1000">Половая доска 20х145х6000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="750" value="862">Имитация бруса 20x145x3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="750" value="863">Имитация бруса 20x175x3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",1," data-price="22000" value="774">Доска обрезная 50х250х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",7," data-price="750" value="864">Имитация бруса 20x195x3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="1000" value="866">Имитация бруса 28x195x3000 сорт "AB"</option>
                        <option data-material="sosna" data-section=",7," data-price="650" value="2099">Имитация бруса 16x140x2000 сорт АБ</option>
                        <option data-material="sosna" data-section=",7," data-price="650" value="2098">Имитация бруса 16x140x5000 сорт АБ</option>
                        <option data-material="sosna" data-section=",1," data-price="18000" value="2013">Доска обрезная 50х200х3000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="18000" value="2012">Доска обрезная 50х150х3000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="18000" value="2011">Доска обрезная 50х100х3000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="18000" value="2010">Доска обрезная 25х150х3000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="18000" value="2009">Доска обрезная 25х100х3000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="16000" value="2008">Доска обрезная ТУ 50х200х3000 (45х190х3000)</option>
                        <option data-material="sosna" data-section=",1," data-price="16000" value="2007">Доска обрезная ТУ 50х150х3000 (45х140х3000)</option>
                        <option data-material="sosna" data-section=",1," data-price="16000" value="2006">Доска обрезная ТУ 40х150х6000 (35х140х6000)</option>
                        <option data-material="sosna" data-section=",1," data-price="16000" value="2005">Доска обрезная ТУ 50х100х3000 (45х90х3000)</option>
                        <option data-material="sosna" data-section=",1," data-price="16000" value="2004">Доска обрезная ТУ 50х200х6000 (45х190х6000)</option>
                        <option data-material="sosna" data-section=",1," data-price="16000" value="2003">Доска обрезная ТУ 50х150х6000 (45х140х6000)</option>
                        <option data-material="sosna" data-section=",1," data-price="16000" value="2001">Доска обрезная ТУ 50х100х6000 (45х90х6000)</option>
                        <option data-material="sosna" data-section=",1," data-price="16000" value="2000">Доска обрезная ТУ 25х150х6000 (22х140х6000)</option>
                        <option data-material="sosna" data-section=",1," data-price="16000" value="1999">Доска обрезная ТУ 25х100х6000 (22х90х6000)</option>
                        <option data-material="sosna" data-section=",14," data-price="1200" value="1976">Половая доска 35х140х6000</option>
                        <option data-material="sosna" data-section=",14," data-price="1200" value="1975">Половая доска 35х140х5000</option>
                        <option data-material="sosna" data-section=",14," data-price="1200" value="1974">Половая доска 35х140х4000</option>
                        <option data-material="sosna" data-section=",14," data-price="1400" value="1973">Половая доска 45х90х6000</option>
                        <option data-material="sosna" data-section=",14," data-price="1400" value="1972">Половая доска 45х90х5000</option>
                        <option data-material="sosna" data-section=",14," data-price="1200" value="1971">Половая доска 35х90х6000</option>
                        <option data-material="sosna" data-section=",14," data-price="1200" value="1970">Половая доска 35х90х5000</option>
                        <option data-material="sosna" data-section=",14," data-price="1400" value="1969">Половая доска 45х90х4000</option>
                        <option data-material="sosna" data-section=",14," data-price="1050" value="1968">Половая доска 28х110х6000</option>
                        <option data-material="sosna" data-section=",14," data-price="1050" value="1967">Половая доска 28х110х5000</option>
                        <option data-material="sosna" data-section=",14," data-price="1050" value="1966">Половая доска 28х90х4000</option>
                        <option data-material="sosna" data-section=",14," data-price="850" value="1965">Половая доска 20х90х6000</option>
                        <option data-material="sosna" data-section=",14," data-price="850" value="1964">Половая доска 20х90х5000</option>
                        <option data-material="sosna" data-section=",14," data-price="850" value="1963">Половая доска 20х90х4000</option>
                        <option data-material="sosna" data-section=",97," data-price="450" value="1962">Доска сухая строганная с фаской 20х90х6000</option>
                        <option data-material="sosna" data-section=",97," data-price="570" value="1961">Доска сухая строганная с фаской 20х120х6000</option>
                        <option data-material="sosna" data-section=",97," data-price="620" value="1960">Доска сухая строганная с фаской 20х140х6000</option>
                        <option data-material="sosna" data-section=",97," data-price="1630" value="1959">Доска сухая строганная с фаской 45х190х6000</option>
                        <option data-material="sosna" data-section=",97," data-price="1200" value="1958">Доска сухая строганная с фаской 45х140х6000</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1943">Евровагонка сорт А 12.5х096х6000</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1942">Евровагонка сорт А 12.5х096х5500</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1941">Евровагонка сорт А 12.5х096х5000</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1940">Евровагонка сорт А 12.5х096х4500</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1939">Евровагонка сорт А 12.5х096х4200</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1938">Евровагонка сорт А 12.5х096х4000</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1937">Евровагонка сорт А 12.5х096х3700</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1936">Евровагонка сорт А 12.5х096х3500</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1935">Евровагонка сорт А 12.5х096х3000</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1934">Евровагонка сорт А 12.5х096х2700</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1933">Евровагонка сорт А 12.5х096х2500</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1932">Евровагонка сорт А 12.5х096х2200</option>
                        <option data-material="sosna" data-section=",8," data-price="500" value="1931">Евровагонка сорт А 12.5х096х2000</option>
                        <option data-material="sosna" data-section=",7," data-price="650" value="1930">Имитация бруса 16х145х2000 сорт АБ</option>
                        <option data-material="sosna" data-section=",7," data-price="1050" value="1929">Имитация бруса 28х195х5000 сорт АБ</option>
                        <option data-material="sosna" data-section=",7," data-price="850" value="1928">Имитация бруса 20х195х5000 сорт АБ</option>
                        <option data-material="sosna" data-section=",7," data-price="750" value="1927">Имитация бруса 20х145х5000 сорт АБ</option>
                        <option data-material="sosna" data-section=",7," data-price="700" value="1926">Имитация бруса 18х145х5000 сорт АБ</option>
                        <option data-material="sosna" data-section=",7," data-price="650" value="1925">Имитация бруса 16х145х5000 сорт АБ</option>
                        <option data-material="sosna" data-section=",118," data-price="65000" value="1892">Клееный брус 250х300х12000</option>
                        <option data-material="sosna" data-section=",118," data-price="65000" value="1891">Клееный брус 250х300х9000</option>
                        <option data-material="sosna" data-section=",118," data-price="59000" value="1890">Клееный брус 140х190х7000</option>
                        <option data-material="sosna" data-section=",118," data-price="59000" value="1889">Клееный брус 150х120х12000</option>
                        <option data-material="sosna" data-section=",118," data-price="59000" value="1888">Клееный брус 190х190х9000</option>
                        <option data-material="sosna" data-section=",118," data-price="65000" value="1887">Клееный брус 250х250х9000</option>
                        <option data-material="sosna" data-section=",118," data-price="65000" value="1886">Клееный брус 250х250х6000</option>
                        <option data-material="sosna" data-section=",118," data-price="52000" value="1885">Клееный брус 190х190х6000</option>
                        <option data-material="sosna" data-section=",118," data-price="65000" value="1884">Клееный брус 200x250х12000</option>
                        <option data-material="sosna" data-section=",118," data-price="59000" value="1883">Клееный брус 200х200х12000</option>
                        <option data-material="sosna" data-section=",118," data-price="62000" value="1882">Клееный брус 200x250х9000</option>
                        <option data-material="sosna" data-section=",118," data-price="52000" value="1881">Клееный брус 140х190х600</option>
                        <option data-material="sosna" data-section=",118," data-price="52000" value="1880">Клееный брус 90х140х6000</option>
                        <option data-material="sosna" data-section=",118," data-price="52000" value="1879">Клееный брус 90х190х6000</option>
                        <option data-material="sosna" data-section=",118," data-price="52000" value="1878">Клееный брус 140х140х6000</option>
                        <option data-material="sosna" data-section=",118," data-price="52000" value="1877">Клееный брус 90х90х6000</option>
                        <option data-material="sosna" data-section=",1," data-price="24000" value="1876">Доска обрезная сухая антисепт. 50х250х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="24000" value="1875">Доска обрезная сухая антисепт. 50х200х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="24000" value="1874">Доска обрезная сухая антисепт. 50х150х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="24000" value="1873">Доска обрезная сухая антисепт. 50х100х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="24000" value="1872">Доска обрезная сухая антисепт. 40х200х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="24000" value="1871">Доска обрезная сухая антисепт. 40х150х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="24000" value="1870">Доска обрезная сухая антисепт. 40х100х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="24000" value="1869">Доска обрезная сухая антисепт. 25х200х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="24000" value="1868">Доска обрезная сухая антисепт. 25х150х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",1," data-price="24000" value="1867">Доска обрезная сухая антисепт. 25х100х6000 1 сорт ГОСТ</option>
                        <option data-material="sosna" data-section=",5," data-price="23000" value="1805">Брус сухой строганный 200х200х6000 (195х195х6000)</option>
                        <option data-material="sosna" data-section=",5," data-price="23000" value="1804">Брус сухой строганный 150х200х6000 (145х195х6000)</option>
                        <option data-material="sosna" data-section=",5," data-price="23000" value="1803">Брус сухой строганный 150х150х6000 (145х145х6000) </option>
                        <option data-material="sosna" data-section=",5," data-price="23000" value="1802">Брус сухой строганный 100х200х6000 (90х195х6000)</option>
                        <option data-material="sosna" data-section=",5," data-price="23000" value="1801">Брус сухой строганный 100х150х6000 (90х145х6000) </option>
                        <option data-material="sosna" data-section=",5," data-price="23000" value="1800">Брус сухой строганный 100х100х6000 (95х95х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="23000" value="1799">Доска сухая строганная 50х200х6000 (45х195х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="23000" value="1798">Доска сухая строганная 50х150х6000 (45х145х6000) </option>
                        <option data-material="sosna" data-section=",97," data-price="23000" value="1797">Доска сухая строганная 50х100х6000 (45х95х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="23000" value="1796">Доска сухая строганная 40х150х6000 (35х145х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="23000" value="1795">Доска сухая строганная 40х200х6000 (35х195х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="23000" value="1794">Доска сухая строганная 40х100х6000 (35х95х6000)</option>
                        <option data-material="sosna" data-section=",97," data-price="400" value="76">Доска сухая строганная 20х95х6000</option>
                    </select>
                </div>
            </div>
            <div class="quantity-block quantity-block-lg">
                <button type="button" class="quantity-block__btn minus">-</button>
                <input type="number" name="product-quantity" class="quantity-block__input" value="1">
                <button type="button" class="quantity-block__btn plus">+</button>
            </div>
        </div>
    </div>
    <div class="calc-form__footer">
        <div class="calc-form__total">
            Стоимость:
            <span class="calc-form__total-price">
                650 руб.
            </span>
        </div>
        <button type="submit" class="calc-form__btn btn btn-white btn-xs">Оформить заказ</button>
    </div>
</form>
<div class="calc-form__privacy">Нажимая на кнопку, вы даете согласие на обработку персональных данных</div>