<li class="@@className">
    <a href="" class="card">
        <span class="card__image@@if(typeof imageSize !== 'undefined'){ @@imageSize}">
            <img src="@@image" class="cover-image" alt="Фото товара">
            @@if(typeof labels !== 'undefined' && labels.length > 0) {<span class="card__labels">@@for (var i = 0; i < labels.length; i++) { <span class="card__label">`+labels[i]+`</span>}</span>}
        </span>
        <span class="card__desc">
            <span class="card__icon icon-arrow-right"></span>
            <span class="card__title">@@title</span>
            @@if(typeof price !== 'undefined' && typeof unit !== 'undefined') {<span class="card__price">От <strong>@@price</strong> @@unit</span>}
        </span>
    </a>
</li>