<li class="catalog__item">
    <a href="" class="catalog__card">
        <span class="catalog__card-image">
            <img src="@img/catalog/0@@index.webp" class="cover-image" alt="Фото товара">
            <span class="catalog__card-quantity">@@quantity</span>
        </span>
        <span class="catalog__card-desc">
            <span class="catalog__card-title">@@title</span>
            <span class="catalog__card-price">От <strong>@@price</strong> @@unit</span>
            <span class="catalog__card-icon icon-arrow-right"></span>
        </span>
    </a>
</li>