<li class="catalog-card">
    <a href="" class="catalog-card__image">
        <img src="@@image" class="cover-image" alt="Фото категории">
        <span class="catalog-card__label label">@@quantity</span>
    </a>
    <a href="" class="catalog-card__name">@@category</a>
    @@if(typeof subcategories !== 'undefined' && subcategories.length > 0) {
    <ul class="catalog-card__list">
        @@for (var i = 0; i < subcategories.length; i++) { <li class="catalog-card__item">
            <a href="" class="catalog-card__link">
                `+subcategories[i]+`
            </a>
</li>

}
</ul>
@@if(subcategories.length > 5){
<button type="button" class="catalog-card__more icon-chevron-right">Показать еще</button>
}
}
</li>