<div class="product @@className">
    <div class="product__header">
        <button type="button" aria-label="Добавить в избранное" class="product__favorite favorite-btn"></button>
        @@if(typeof labels !== 'undefined' && labels.length > 0) {<span class="product__labels">@@for (var i = 0; i < labels.length; i++) { <span class="product__label label label-`+labels[i].color+`">`+labels[i].text+`</span>}</span>}
        <a href="" class="product__image">
            <img src="@@image" class="cover-image" alt="Изображение товара">
        </a>
    </div>
    <div class="product__body">
        <a href="" class="product__name">@@title</a>
        <ul class="product__props">
            @@if(typeof variety !== 'undefined') {<li class="product__props-item">
                <span class="product__props-name">Сорт:</span>
                <span class="product__props-value">@@variety</span>
            </li>}
            @@if(typeof material !== 'undefined') {<li class="product__props-item">
                <span class="product__props-name">Материал:</span>
                <span class="product__props-value">@@material</span>
            </li>}
            @@if(typeof humidity !== 'undefined') {<li class="product__props-item">
                <span class="product__props-name">Влажность:</span>
                <span class="product__props-value">@@humidity</span>
            </li>}
            @@if(typeof processing !== 'undefined') {<li class="product__props-item">
                <span class="product__props-name">Обработка:</span>
                <span class="product__props-value">@@processing</span>
            </li>}
        </ul>
        <div class="product__info">
            @@if(availability===true){<div class="product__availability icon-check">В наличии</div>}
            @@if(availability===false){<div class="product__availability icon-close">Отсутствует</div>}
            <div class="product__price">
                <span class="product__price-value">@@price</span>
                <span class="product__price-unit">@@unit</span>
            </div>
        </div>
        <div class="quantity-block">
            <button type="button" class="quantity-block__btn minus">-</button>
            <input type="number" name="product-quantity" class="quantity-block__input" value="1">
            <button type="button" class="quantity-block__btn plus">+</button>
        </div>
        <div class="product__btns">
            <button type="button" class="product__btn btn btn-secondary btn-sm icon-cart">В корзину</button>
            <a href="#one-click-buy" data-fancybox aria-label="Купить в один клик" class="product__buy btn btn-secondary-outline icon-cursor"></a>
        </div>
    </div>
</div>