.footer {
	background: $black;
	color: $white;
	overflow-x: hidden;
	padding: rem(20) 0 0;
	@media (min-width: $md5) {
		padding: 4rem 0 0;
	}
	// .footer__container
	&__container {
		@media (min-width: $md1) {
			max-width: rem(1280);
		}
	}
	// .footer__body
	&__body {
		display: grid;
		gap: 1rem;
		row-gap: 1.5rem;
		@media (min-width: $md5) {
			grid-template-columns: repeat(2, 1fr);
			align-items: start;
		}
		@media (min-width: $md3) {
			padding-left: 19%;
			position: relative;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

	// .footer__logo
	&__logo {
		width: fit-content;
		@media (min-width: $md3) {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 15%;
		}
	}
	// .footer__menu
	&__menu {
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 0;
		}
		font-size: 1rem;
		font-weight: 500;
		line-height: 135%;
		& ul {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: rem(10);
			@media (min-width: $md5) {
				grid-template-columns: 1fr;
			}
			& li {
				& a {
					@media (any-hover: hover) {
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	// .footer__contacts
	&__contacts {
		margin-top: rem(20);
		@media (min-width: $md3) {
			margin-top: 0;
		}
	}
	// .footer__caption
	&__caption {
		font-weight: 500;
		line-height: 125%;
		font-size: 1.125rem;
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
	}
	// .footer__contacts-list
	&__contacts-list {
		margin-top: 0.75rem;
		@media (min-width: $md5) {
			margin-top: 1rem;
		}
	}
	// .footer__contacts-item
	&__contacts-item {
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}
	// .footer__contacts-link
	&__contacts-link {
		display: flex;
		align-items: center;
		color: rgba(255, 255, 255, 0.8);
		line-height: 135%;
		gap: rem(10);
		&::before {
			font-size: 1.5em;
		}
		transition: color 0.3s ease;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $white;
			}
		}
	}
	// .footer__socials
	&__socials {
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			margin-top: 1.5rem;
		}
		font-size: 1.5rem;
		display: flex;
		gap: 0.37rem;
	}
	// .footer__social
	&__social {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fa7a93;
			}
		}
	}
	// .footer__side
	&__side {
		margin-top: rem(20);
		@media (min-width: $md3) {
			margin-top: 0;
			max-width: 20.4375rem;
		}
	}
	// .footer__text
	&__text {
		margin-top: 0.5rem;
		color: $white-43;
		font-size: 0.75rem;
		line-height: 135%;
	}
	// .footer__form
	&__form {
		margin-top: 0.75rem;
		display: flex;
		gap: 0.5rem;
	}
	// .footer__form-btn
	&__form-btn {
		border-radius: 0.75rem;
		font-size: 1.5rem;
		aspect-ratio: 1;
		min-height: 0;
		&.btn {
			padding: rem(10);
		}
	}
	// .footer__bottom
	&__bottom {
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: 2.87rem;
		}
		display: flex;
		flex-direction: column;
		font-size: 0.875rem;
		font-weight: 300;
		line-height: 100%;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: 100vw;
			transform: translateX(-50%);
			height: rem(1);
			background: $white-10;
		}
		padding: rem(14) 0 rem(15);
		@media (min-width: $md5) {
			padding: 1.5rem 0 1.75rem;
			flex-direction: row;
		}
		@media (min-width: $md3) {
			padding: 1.5rem 0 1.75rem 19%;
		}
	}
	// .footer__policies
	&__policies {
		display: flex;
		gap: 1.75rem;
		justify-content: space-between;
		@media (min-width: $md5) {
			justify-content: flex-start;
		}
	}
	// .footer__policy
	&__policy {
	}
	// .footer__copy
	&__copy {
		margin-left: auto;
		margin-right: auto;
		margin-top: rem(27);
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 0.875rem;
			margin-right: 0;
			margin-top: 0;
		}
	}
}
